
  <form [formGroup]="loginForm"  (ngSubmit)="onLogin()">
      <div class="login-form-container">
      <span class="login-form-title">Prijava</span>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email" >
      </mat-form-field>
      <!-- <div *ngIf="submitted && formData.username.errors" class="error-message">
        
      </div> -->

      <mat-form-field>
        <input type="password" matInput placeholder="Lozinka" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Prijava</button>
    </div>
  </form>
    
