<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">

  <ng-container matColumnDef="oib">
    <th mat-header-cell *matHeaderCellDef> OIB </th>
    <td mat-cell *matCellDef="let student"> {{student.oib}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime </th>
    <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </th>
    <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum rođenja </th>
    <td mat-cell *matCellDef="let student"> {{student.birthDate | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="residence">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prebivalište </th>
    <td mat-cell *matCellDef="let student"> {{student.residence}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let student"> {{student.email}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>