.action-icon{
    cursor: pointer;

    margin: 0 10px;
}

.student-list-container {
    width: 80%;
    margin: 0 10%;
}

.create-button{
    float: right;
    margin-top: 15px;
}

.subjects-link{
    cursor: pointer;
    color: blue !important;
    font-weight: bold;
}

