.modal-input{
    margin: 0 15px;
}

.close-button{
    float: right;
    width: 20px !important;  
    background-color: red;
    padding: 5px 7px 2px 4px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}